<label class="btn btn-primary mb-4" for="modal-1">+ {{ 'newProduct' | translate }}</label>
<input #modalInput class="modal-state" id="modal-1" type="checkbox" (change)="onToggle()" />
<div class="modal">
  <label class="modal-overlay" for="modal-1"></label>
  <div class="modal-content flex w-full flex-col gap-5 p-7 max-w-3xl">
    <label for="modal-1" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
    <div class="flex flex-col gap-2">
      <h2 class="text-2xl font-semibold mb-2">{{ titleKey() | translate }}</h2>
    </div>

    <section>
      <app-product-form
        [initial]="initial()"
        (submitted)="onSubmitted($event)"
        (updated)="onUpdated($event)"
      ></app-product-form>
    </section>
  </div>
</div>
